# 0.0. IMPORTS

In [5]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px

import inflection

## 0.1. Helper Functions

In [6]:
def show_dataframe_dimensions(dataframe):
    print(f"Number of Rows: {dataframe.shape[0]}")
    print(f"Number of Columns: {dataframe.shape[1]}")
    
    return None

In [7]:
def rename_columns(dataframe):
    # Copy DataFrame
    df = dataframe.copy()
    
    # Columns Names
    cols_old = list(df.columns)

    # Function to convert columns names to snake_case pattern
    snakecase = lambda x: inflection.underscore(x)

    # New columns names
    cols_new = list(map(snakecase, cols_old))

    # Apply new columns names to DataFrame
    df.columns = cols_new
    
    return df

## 0.2. Helper Configurations

In [10]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

## 0.3. Load Data

In [84]:
df_raw = pd.read_csv('../data/raw/data.csv')
df_raw.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

# 1.0. DATA DESCRIPTION

In [85]:
df1 = df_raw.copy()
df1.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [86]:
df1.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

## 1.1. Columns Description

| Column | Description |
| :----- | :---------- |
| `Restaurant ID` | Row ID |
| `CustomerId` | Customer ID |
| `Surname` | Customer's Last name |
| `CreditScore` | Customer Credit Score |
| `Geography` | Customer's Country of Residence |
| `Gender` | Costumer Gender |
| `Age` | Costumer Age |
| `Tenure` | Quantity of years that customer is a institution client |
| `Balande` | How much money the client have on it's account |
| `NumOfProducts` | Quantity of products that the client had purchased with the institution |
| `HasCrCard` | Indicates if the client has a credit card or not with the institution. 1 - client has credit card; 0 - client dosen't have credit card |
| `IsActiveMember` | Indicates if the client is active or not. 1 - active client; 0 - non active client |
| `EstimatedSalary` | Client's estimated anual salary |
| `Exited` | Indicates whether the client has an account at the institution. 1 - Client has exited instittion; 0 - client dosen't have exited institution |

In [87]:
df1.dropna(inplace=True)

In [88]:
df1.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [89]:
def country_name(country_id):
    country = ''
    
    if country_id == 1: 
        country = 'India'
    elif country_id == 14:
        country = 'Australia'
    elif country_id == 30:
        country = 'Brazil'
    elif country_id == 37: 
        country = 'Canada'
    elif country_id == 94: 
        country = 'Indonesia'
    elif country_id == 148: 
        country = 'New Zeland'
    elif country_id == 162: 
        country = 'Philippines'
    elif country_id == 166: 
        country = 'Qatar'
    elif country_id == 184: 
        country = 'Singapure'
    elif country_id == 189: 
        country = 'South Africa'
    elif country_id == 191: 
        country = 'Sri Lanka'
    elif country_id == 208: 
        country = 'Turkey'
    elif country_id == 214: 
        country = 'United Arab Emirates'
    elif country_id == 215: 
        country = 'England'
    else: 
        country = 'United States of America'
        
    return country

In [90]:
def create_food_type(price_range):
    food_type = ''
    
    if price_range == 1:
        food_type = 'cheap'
    elif price_range == 2:
        food_type = 'normal'
    elif price_range == 3:
        food_type = 'expensive'
    else:
        food_type = 'gourmet'
        
    return food_type

In [91]:
df1['Price range'].unique()

array([3, 4, 2, 1])

In [93]:
df1['Food type'] = df1.loc[:, 'Price range'].apply(lambda x: create_food_type(x))
df1['Country'] = df1.loc[:, 'Country Code'].apply(lambda x: country_name(x))
df1['Cuisines'] = df1.loc[:, 'Cuisines'].apply(lambda x: x.split(',')[0])
df1.sample(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Food type,Country
5957,2800114,New Satyam Multicuisine Restaurant & Takeaway,1,Vizag,"1st Lane Road, Near Diamond Park, Dwaraka Naga...",Dwaraka Nagar,"Dwaraka Nagar, Vizag",83.302078,17.727799,North Indian,550,Indian Rupees(Rs.),0,1,0,0,2,4.0,5BA829,Very Good,847,normal,India
1298,16924278,Shibui Japanese Restaurant,216,Miami,"7101 SW 102nd Avenue, Kendall/Pinecrest, Miami...",Kendall/Pinecrest,"Kendall/Pinecrest, Miami",-80.358096,25.702296,Japanese,75,Dollar($),0,0,0,0,4,4.6,3F7E00,Excellent,258,gourmet,United States of America
1307,16920858,Fratelli la Bufala,216,Miami,"437 Washington Avenue, Miami Beach 33139",South Beach,"South Beach, Miami",-80.134067,25.773902,Italian,150,Dollar($),0,0,0,0,4,4.6,3F7E00,Excellent,130,gourmet,United States of America
5673,3800052,Golden Dragon,1,Surat,"G 10-15, Amidhara Shopping Centre, Rangila Par...",Athwa,"Athwa, Surat",72.804667,21.175271,Mughlai,800,Indian Rupees(Rs.),0,1,0,0,3,4.3,5BA829,Very Good,463,expensive,India
2125,18483252,Artichoke Cafe,184,Singapore,161 Middle Road 188978,"Victoria, Rochor","Victoria, Rochor, Singapore",103.851994,1.299708,Middle Eastern,80,Dollar($),0,0,0,0,4,4.1,5BA829,Very Good,16,gourmet,Singapure

In [95]:
df1.sample(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Food type,Country
6126,7004861,Genzui Ramen Bar,148,Auckland,"Atrium on Elliott, Level 4, 21-25 Elliott Stre...",Elliott Street,"Elliott Street, Auckland",174.763675,-36.849883,Japanese,40,NewZealand($),0,0,0,0,2,4.3,5BA829,Very Good,346,normal,New Zeland
6622,7700591,Nick's Italian Bar and Grill,215,Glasgow,"168 Hyndland Road, West End, Glasgow G12 9HZ",West End,"West End, Glasgow",-4.305744,55.876217,Italian,35,Pounds(£),0,0,0,0,3,4.0,5BA829,Very Good,53,expensive,England
2430,5600757,Dwarka Vegetarian Restaurant,214,Sharjah,"Shk.Saqr Bin Khalid Al Qasmi Street, Opposite ...",Abu Shagara,"Abu Shagara, Sharjah",55.401858,25.345289,Indian,85,Emirati Diram(AED),0,1,0,0,3,3.0,CDD614,Average,465,expensive,United Arab Emirates
3486,3500430,BakeMasters,1,Dehradun,"19, Kwality Complex, Rajpur Road, Chukkuwala, ...",Chukkuwala,"Chukkuwala, Dehradun",78.045051,30.327573,Fast Food,200,Indian Rupees(Rs.),0,1,1,0,1,4.3,5BA829,Very Good,147,cheap,India
6882,18311237,The Cheesecake Factory,166,Doha,"Near Virgin Megastore, Villaggio, Al Waab, Doha","Villaggio, Al Waab","Villaggio, Al Waab, Doha",51.441487,25.258264,American,250,Qatari Rial(QR),0,0,0,0,4,4.5,3F7E00,Excellent,206,gourmet,Qatar

Visões
======

Geral
-----
1. Quantos restaurantes únicos estão registrados?
2. Quantos paises únicos estão registrados?
3. Quantas cidades únicas estão registradas?
4. Qual o total de avaliações feitas?
5. Qual o total de tipos de culinária registrados?


Pais
----
1. Qual o nome do país que possui mais cidades registradas?
2. Qual o nome do país que possui mais restaurantes registrados?
3. Qual o nome do país que possui mais restaurantes com os nível de preço igual a 4 registrados?
4. Qual o nome da país que possui a maior quantidade de tipos de culinária distintos?
5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?
7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?
8. Qual o nome do país que possui a maior variedade de tipos de culinária?
9. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?
10. Qual o nome do país que possui, na média, a menor quantidade de avaliações registrada?
11. Qual o nome do país que possui, na média, a maior nota média registrada?
12. Qual o nome do país que possui, na média, a menor nota média registrada?
13. Qual a média de preço de um prato para dois por país?


Cidade
------
1. Qual o nome da cidade que possui mais restaurantes registrados?
2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?
3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?
4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?
6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?
7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?
8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?


Restaurantes
------------
1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
2. Qual o nome do restaurante com a maior nota média?
3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessuas?
4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?
5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?
6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?
7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?
8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas?


Tipo de Colunária
-----------------
1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?
2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?
3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?
4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?
5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?
6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?
7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?
8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?
9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?
10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?
11. Qual o tipo de culinária que possui o maior valor de um prato para duas pessoas?
12. Qual o tipo de culinária que possui o maior médio de um prato para duas pessoas?
13. Qual o tipo de culinária que possui o maior valor de um prato para duas pessoas por país?

In [16]:
df1.shape

(7527, 21)

In [80]:
df1['Cuisines'].unique()

array(['Italian', 'European, Asian',
       'Filipino, American, Italian, Bakery', ...,
       'Fast Food, Izgara, Seafood, Tea, Coffee', 'Home-made, Izgara',
       'Restaurant Cafe, Kebab, Turkish Pizza'], dtype=object)

In [53]:
# df1['Country Code'].sort_values().unique()

In [79]:
df1['Aggregate rating'].unique()

array([4.6, 4.7, 4.4, 4. , 4.3, 4.1, 4.5, 4.2, 4.9, 3.9, 4.8, 3.2, 3.3,
       2.5, 3.1, 3.8, 3.6, 3.7, 3.5, 0. , 2.8, 2.7, 3.4, 2.9, 2.4, 2.3,
       2.6, 3. , 2.2, 2.1])

In [51]:
# cols = ['Restaurant ID', 'Country Code', 'Currency']
# df1.loc[:, cols].groupby(['Country Code', 'Currency']).count().sort_values(['Country Code', 'Currency'])

In [83]:
df1.loc[df1['Country Code'] == 216, 'Cuisines_t'].sort_values().unique()
# df1.loc[df1['Country Code'] == 216, 'Locality'].sort_values().shape

array(['African', 'American', 'Asian', 'BBQ', 'Bakery', 'Bar Food',
       'Belgian', 'Brazilian', 'Breakfast', 'British', 'Burger',
       'Burmese', 'Cafe', 'Cajun', 'California', 'Caribbean', 'Chinese',
       'Coffee and Tea', 'Creole', 'Crepes', 'Cuban', 'Deli', 'Desserts',
       'Dim Sum', 'Diner', 'Donuts', 'European', 'Fast Food', 'Filipino',
       'Fish and Chips', 'French', 'Fusion', 'German', 'Greek',
       'Hawaiian', 'Healthy Food', 'Ice Cream', 'Indian', 'International',
       'Irish', 'Italian', 'Japanese', 'Korean', 'Latin American',
       'Lebanese', 'Malaysian', 'Mediterranean', 'Mexican',
       'Middle Eastern', 'Moroccan', 'New American', 'New Mexican',
       'Pacific Northwest', 'Peruvian', 'Pizza', 'Polish', 'Pub Food',
       'Ramen', 'Russian', 'Sandwich', 'Seafood', 'Southern',
       'Southwestern', 'Spanish', 'Steak', 'Sushi', 'Taco', 'Tapas',
       'Tea', 'Tex-Mex', 'Thai', 'Ukrainian', 'Vegetarian', 'Vietnamese'],
      dtype=object)

In [ ]:
1: India
14: Australia
30: Brazil
37: Canada
94: Indonesia
148: New Zeland
162: Philippines
166: Qatar
184: Singapure
189: South Africa
191: Sri Lanka
208: Turkey
214: United Arab Emirates
215: England
216: United States of America

https://docs.streamlit.io/library/api-reference

https://panditpranav-svm-covid-tracking-covid-app-ztljjx.streamlit.app/

https://mpkrass7-solid-octo-robot-migration-app-nabfxv.streamlit.app/

https://epogrebnyak-ssg-streamlit-app-751a6h.streamlit.app/

https://gerardrbentley-fidelity-account-overview-app-ezld5n.streamlit.app/

https://streamlit-example-app-interactive-table-streamlit-app-mt9qg6.streamlit.app/

https://streamlit-demo-uber-nyc-pickups-streamlit-app-456wus.streamlit.app/?pickup_hour=12

https://python-visualization.github.io/folium/modules.html